body {
    font-family: "Chau Philomene One", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    background-image: URL("../assets/animal-trivia.png");
    background-size: cover;
    background-position: center;
    color: white;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    flex: 1;
}
h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.question {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.options {
    margin-bottom: 20px;
}
.option {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.option:hover {
    color: azure;
    font-weight: bold;
    font-size: 1.3em;
}

#next-btn {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#next-btn:hover {
    background-color: darkgreen;
    padding: 12px 22px;
    font-weight: bold;
    font-size: 1em;
}

#score {
    margin-top: 20px;
    font-weight: bold;
}

#footer {
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
